@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
}

/*CUSTOM CODE*/

html {
    font-family: 'Inter', sans-serif;
    margin: 3rem 10% 2.5rem 10%; 
}


::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space /
    background: transparent; / optional: just make scrollbar invisible /
}

    ::selection {
    background: #ff0000; /* WebKit/Blink Browsers */
    color: #fff;
}
::-moz-selection {
    background: #ff0000; /* Gecko Browsers */
    color: #fff;
}

header nav a{
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3em 3em;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 3px solid currentColor;
    color: #333333;
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 24px;
    text-align: right;
}

header nav a:hover{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 -2 20 7'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .5s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23333333' stroke-width='3' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
    background-position: bottom;
    border-bottom: 0;
    padding-bottom: 6px;
    text-decoration: none;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
}


h1{
    font-weight: 600;
    color: #ff0000;
    /*    font-size: 1.2rem;*/
    margin: 0;
    display: inline;
    text-align: left;
}

main{
    margin-top: 5%;
}


#intro p{
    /*
    font-size: 1.2rem;
    line-height: 2rem;
    */
    margin-top: 10%;
    width: 70%;
    margin-bottom: 6rem;

    font-size: 2rem;
    line-height: 3rem;
}

#intro a, #intro a:visited{
    /*
    text-decoration: none;
    color: #ff0000;
    font-weight: bold;
    */
    box-shadow: inset 0 0px 0 white, inset 0 -2px 0 currentcolor;
    color: black;
    text-decoration: none;
}

main a, main a:visited, a, a:visited{
    /*
    text-decoration: none;
    color: #ff0000;
    font-weight: bold;
    */
    box-shadow: inset 0 0px 0 white, inset 0 -1px 0 currentcolor;
/*    color: black;*/
    text-decoration: none;
}

main a:hover, #intro a:hover{
    color: red;
    /*    font-style: italic;*/
}

figure a, figure a:hover{
    box-shadow: none;
    font-style: normal;
}

header a{
    border-bottom: none;
    box-shadow: none;
    text-decoration: none;
}

figure a{
    color: #000;
    font-weight: 400;
}

.bold{
    font-weight: 600;
}

figcaption{
    margin-top: 0.8rem;
    line-height: 1.4rem;
}

figure{
    margin-bottom: 2rem;
    width: 50%;
    box-sizing: border-box;
    float: left;
    padding-right: 0%;
    padding-left: 2%;
}

figure:nth-of-type(2n+1){
    padding-right: 2%;
    padding-left: 0%;
}


figure img{
    width: 100%;
}

figure:hover, figure a:hover{
    color: red;
}

figure { transition: all .2s ease-in-out;}
figure:hover { transform: scale(1.02); }

.otherpage{
    color: #aaa;
}

.otherpage:hover{
    color: #333;
}


.small{
    font-size: 0.8rem;
}

#g1, #g2{
    color: #999;
}




/*PROJECT PAGES*/

.brief h3, .rightcol{
    margin-bottom: 2rem;
}

h2{
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 0.8rem;
}

h3{
    color: #999;
    font-size: 1.2rem;
}


.videowrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    clear: both;
}

.projectlist{
    width: 50%;
    margin-bottom: 2rem;
    line-height: 1.6rem;
    margin-left: 50%;
    padding-right: 10%;
    box-sizing: border-box;
    list-style-position: outside;
}


ul{
    list-style-type: none;
}
ul> li {
    margin-bottom: 1rem;
}
ul> li:before {
    content: "—";
    margin-left: -1rem;
}




.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clear: both;
}

h4{
    font-weight: 600;
    /*    margin-top: 2rem;*/
    margin-bottom: 0.4rem;
}

p, .rightcol{
    font-size: 1rem;
    line-height: 1.6rem;
}

.leftcol, .rightcol{
    float: left;
    width: 50%;
    padding-right: 10%;
    box-sizing: border-box;
}

.leftcol{
    line-height: 1.6rem;
}

h5{
    font-size: 2rem;
    line-height: 2.6rem;
}

.fullwidthimg{
    width: 100%;
}

/*
#aboutblurb{
width: 40%;
display: inline-block;
margin: 0;
position: absolute;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}
*/

#aboutblurb{
    width: 50%;
    margin-top: 10%;
    float: left;
}

#aboutimg{
    width: 25%;
    margin-left: 25%;
    float: left;
}

/*
#aboutimg{
width: 20%;
margin: 0;
position: absolute;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
right: 10%;
}
*/

.separator{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 3em 0;
    padding: 0;
    clear: both;
}

.subheader{
    /*    font-size: 1.2rem;  */
    line-height: 1.6rem;
    width: 50%;
    float: left;
    padding-left: 10%;
    box-sizing: border-box;
}

.smallerimg{
    width: 60%;
    margin-left: 20%;
}

.projecttext{
    width: 50%;
    margin-bottom: 2rem;
    float: left;
    padding-right: 10%;
    box-sizing: border-box;
}

.gallery2, .gallery22{
    width: 100%;
}

.gallery2 img, .gallery22 img{
    box-sizing: border-box;
    width: 50%;
}

.gallery22 img:nth-of-type(1), .gallery22 img:nth-of-type(3){
    padding-right: 0.5%;
    box-sizing: border-box;
}

.gallery22 img:nth-of-type(2), .gallery22 img:nth-of-type(4){
    padding-left: 0.5%;
    box-sizing: border-box;
}

.gallery22 img:nth-of-type(1), .gallery22 img:nth-of-type(2){
    padding-bottom: 1%;
    box-sizing: border-box;
}


.gallery4fig{
    display: flex;
    justify-content: space-between;
}

.gallery5 img{
    width: 19%;
    box-sizing: border-box;
}

.gallery4fig figure{
    width: 24%;
    font-size: 0.8rem;
    padding: 0;
}

.gallery4fig figure:hover {
    transform: none; 
    color: black;
}

.gallery3 img{
    width: 32.5%;
    box-sizing: border-box;
}

.gallery3, .gallery4, .gallery5{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.gallery7 img{
    width: 14%;
    box-sizing: border-box;
    padding: 1%;
}
.gallery6{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.gallery6 img{
/*
    width: 16%;
    box-sizing: border-box;
    padding: 1%;
*/
    
        display: flex;
    justify-content: space-between;
    width: 16%;
}

#snsafd{
    box-sizing: border-box;
}

#afd1{
    width: 30%;  
    box-sizing: border-box;
    padding-right: 2%;
}

#afd2{
    width: 70%;    box-sizing: border-box;
    padding-left: 2%;
}

.gallery4 img{
    width: 24%;
}

#snsposter{
    margin-top: 2rem;
}

/*
header{
transform: rotate(-90deg);
transform-origin: top left;
font-size: 0.8rem;
text-align: center;
position: absolute;
top: 45%;
right: -69px;
padding: 20px 0px 20px 0px;
box-sizing: border-box;
transition: right 0.5s;
transition-timing-function: ease-in-out;
}
*/

.clear{
    float: none;
    clear: left;
}

footer, footer p{
    font-size: 0.8rem;
    line-height: 1.rem;
}

footer p{
    position: absolute;
    left: 50%;
}

.pagespace{
    margin-bottom: 4rem;
}

.squiggle{
    font-size: 0.6rem;
}



#popup{
    background: #000;
    color: #fff;
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    height: 100vh;
    display: block;
}

.popuptext{
    font-size: 3.4rem;
    line-height: 4rem;
    width: 80%;
    color: white;
    margin-top: 1rem;
}

#popup h1{
    color: white;
}

.popupinfo{
    position: absolute;
    left: 20%;
    top: 20%;
}

.popuplink, #popup a{
    box-shadow: inset 0 0px 0 white, inset 0 -1px 0 currentcolor;
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 4rem;
}

.popuplink:hover{
    cursor: pointer;
}

.popupenter{
    margin-top: 1rem;
}

.popupredirects{
    margin-top: 6rem;
}

#popup .popupredirects a{
        font-size: 1rem;
}

#sorry{
    position: absolute;
    left: 60%;
    width: 25%;
    top: 50%;
}



.mySlides {display: none}
.mySlides:nth-of-type(1){
    display: block;
}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
/*  max-width: 1000px;*/
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;

  width: auto;
  padding: 16px;
  color: red;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
    box-shadow: none;
    
      margin: 0;
  position: absolute;
  top: 65%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #333;
    color: white;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
















@media screen and (max-width:768px) {
    #intro{
        width: 100%;
        margin-top: 15%;
    }  

    #intro p{
        width: 100%;
        margin-bottom: 4rem;
        font-size: 1.4rem;
        line-height: 2.4rem;
    }

    figure{
        width: 100%;
    }

    .projecttext, .rightcol, .leftcol{
        width: 100%;
    }

    .leftcol{
        margin-bottom: 2rem;
    }

    .subheader, .projecttext{
        padding: 0;
        margin-bottom: 1.4rem;
    }
    
    #popup{
        display: none;
    }
    
    h1{
        text-align: center;
        display: block;
        margin: auto;
        font-size: 1.4rem;
    }
header{
    display: block;
}
    nav{
        text-align: center;
            display: block;
        margin: auto;
        padding: 0;    
        margin-left: 0;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    nav a:nth-of-type(1){
        margin-left: 0;
    }
    
    header nav a{
        margin-left: 38%;
    }
    #thumbs figure{
        padding-left: 0;
        padding-right: 0;
    }
    .hidemobile{
        display: none;
    }
    #aboutblurb{
        width: 100%;
    }
}
