@import url(basteleur/font.css);
@import url(savate/font.css);
@import url(sporting-grotesque/font.css);


html, body {
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
}

html::-webkit-scrollbar {
    display: none;
}

html{

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.page-border{
    border: solid 1px white;
    height: 100vh;
    position: fixed;
    width: 100%;
    border-radius: 30px;
    background: #1b1b1b;
    z-index: -100000;
}

a{
    color: white;
    border-bottom: solid 1px white;
    font-weight: 400;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

#nav a:hover{
    color: #1b1b1b;
    background: white;
}

.intro-links a img{
    position: absolute;
    width: 180px;
    display: none;
}

.intro-links a:hover img{
    display: block;
}

#intro{
    width: 100%;
    padding-bottom: 2rem;
    height: 100vh;
}
.intro-text{
    float: left;
    width: 33%;
    position: absolute;
    bottom: 5%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0rem 2rem 0rem 2rem;
}

.intro-text h1{
    font-size: 3rem;
    padding-bottom: 1rem;
    font-family: "reason-new", sans-serif;
    font-weight: 600;
}

.intro-text h2{
    font-weight: 400;
}

.intro-img{
    height: 100vh;
    padding: 1rem;
}
.intro-links{
    font-size: 2rem;
    padding: 0rem 2rem 0rem 2rem;
    position: absolute;
    right: 2rem;
    bottom: 5%;
    /* -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}

.intro-links a p{
    padding-bottom: 2rem;
}

/* email */
.intro-links a:nth-of-type(1) img{
    left: 0px;
    top: -20px;
    transform: rotate(-9deg);
}

.intro-links a:first-of-type p{
   transform: rotate(-9deg);
}


/* twitter */
.intro-links a:nth-of-type(2) img{
    left: 11px;
    top: 38px;
    transform: rotate(2deg);
}

.intro-links a:nth-of-type(2) p{
    transform: rotate(2deg);
}

/* instagram */
.intro-links a:nth-of-type(3) img{
    left: 30px;
    top: 105px;
    transform: rotate(-2deg);
}

.intro-links a:nth-of-type(3) p{
    transform: rotate(-2deg);
}

/* resume */
/* .intro-links a:nth-of-type(4) img{
    left: 0px;
    top: -40px
    transform: rotate(4deg);
} */

.intro-links a:nth-of-type(4) p{
    transform: rotate(4deg);
}

.project{
    width: 50%;
    float: left;
}

.h2-arrow{
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    line-height: 2rem;
}

.project-text{
    padding: 2rem;
}

.project-text h1{
    font-size: 2rem;
    font-size: 1.6rem;
    width: 90%;
}

.project img{
    width: 100%;
}

/* .project:nth-of-type(odd){
    border-right: solid 1px white;
} */

/* .project-text:nth-of-type(odd){
    border-bottom: solid 1px white;
} */


h1{
    font-family: "reason-new", sans-serif;
    font-weight: 800;
    padding-bottom: 0.4rem;
    font-size: 1.2rem;
}

#nav{
    position: fixed;
    z-index: 69;
    top: 0;
    width: 100%;
    /* mix-blend-mode: exclusion; */
}

.clear{
    float: clear;
}

.left{
    float: left;
}

.right{
    float: right;
}

#nav a{
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 40px;
    text-align: center;
    border: 1px solid white;
    border-radius: 90px;
    text-transform: uppercase;
    margin-left: 5px;
    color: white;
    font-weight: 500;
    display: inline-block;
    justify-content: space-between;
    margin: 1rem;
    background: #1b1b1b;
}

.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home-imgs{
    height: 300px;
}

.small-bites-header, .main-course-header{
    padding: 2rem;
}

.border-bottom-white{
    border-bottom: 1px solid white;
}

#small-bites{
    float: left;
    width: 20%;
}

#main-course{
    float: left;
    width: 80%;
    box-sizing: border-box;
    border-left: 1px solid white;
}

body{

    color: #ffffff;
    font-family: reason-new, sans-serif;
    font-weight: 300;
    font-style: normal;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.font-weight-400{
    font-weight: 400;
}

.font-weight-500{
    font-weight: 500;
}

.stickers-img{
    width: 150px;
}

.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 150px;
    overflow-x: hidden;
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-1800px); }
}

.thumb{
    border-radius: 90px;
}


/*Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 0px) and (max-width: 576px) {
    #nav{
        display: none;
    }

    #intro{
        height: auto;
        padding: 0rem;
    }

    .intro-img{
        width: 50%;
        height: auto;
    }

    .intro-text, .intro-links{
        display: none;
    }

    #small-bites{
        display: none;
    }

    #main-course{
        float: clear;
        width: 100%;
    }

    .arrows{
        display: none;
    }

    .project{
        width: 100%;
    }
}