@import url(basteleur/font.css);
@import url(savate/font.css);
@import url(sporting-grotesque/font.css);

/* *{
    cursor: url("https://i.imgur.com/dF2R43n.png"), auto;
} */

html, body {
    max-width: 100%;
    font-family: reason-new, sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
}

#home-link a{
    font-size: 2rem;
    font-weight: 500;
    border-bottom: none;
}

#home-link{
    padding: 20px;
    border-bottom: solid 1px black;
}


html::-webkit-scrollbar {
    display: none;
}

img{
    width: 100%;
    padding: 0;
}

p{
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: 300;
}

video{
    width: 100%;
    height: auto;
    display: block;
}

.videowrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    /*    padding-top: 25px;*/
    height: 0;
    clear: both;
}

.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clear: both;
    /*    margin-top: -13px;*/
}

html{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.left-col{
    border-right: solid black 1px;
    height: 100vh;
    width: 300px;
    display: block;
    position: fixed;
}

#logo{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: -10px;
}

#logo img{
    width: 200px;
}

#doll img{
    width: 250px;
    position: absolute;
    left: 25;
    margin: 0 auto;
}

#doll img:nth-of-type(1){
    position: relative;
}

#doll{
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    width: 100%;
}

.row1, .row2{
    width: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.choices img{
    width: 60px;
    height: 60px;
}

.choices{
    height: 120px;
}

#bottoms, #shoes, #misc{
    display: none;
}

#categories{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: 400;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid 1px black;
}

#icons{
    padding: 10px;
    border-bottom: 1px solid black;
}

#currents{
    padding: 20px;
    padding-top: 15px;
}

#currents p{
    display: flex;
    justify-content: space-between;
}

#topstext, #bottomstext, #shoestext{
    text-align: right;
}

.category:hover{
    cursor: pointer;
    /* font-weight: 600; */
}

.category:nth-of-type(1){
    font-weight: 600;
}

h2{
    font-weight: 600;
    padding-bottom: 0.6rem;
}

.show-mobile{
    display: none;
}

.clear{
    clear: both;
    float: none;
}

.right-col{
    margin-left: 300px;
    width: calc(100% - 475px);
    border-right: solid 1px black;
}

.home-divs > div{
    padding: 50px;
    border-bottom: solid 1px black;
}

#footer{
    border-bottom: none;
    position: relative;
}

.project-footer{
    padding: 50px;
    position: relative;
    border-top: solid 1px black;
}

.intro h1{
    font-size: 4rem;
    line-height: 4rem;
}

h1{
    font-size: 2.4rem;
    line-height: 2.8rem;
    margin-bottom: 1rem;
}

.links{
    display: flex;
    justify-content: space-between;
}

.links p{
    font-size: 1.4rem;
    padding-top: 3rem;
    padding-bottom: 0.5rem;
}

a{
    color: black;
    border-bottom: 1px solid currentColor;
}

a:hover{
    color: black;
    text-decoration: none;
    /* text-transform: uppercase; */
    color: red;
}


a:visited{
    text-decoration: none;
}


.marquee {
    position: fixed;
    width: 177px;
    right: 0px;
    top: 0px;
    height: 100vh;
    overflow: hidden;
    border-left: solid 1px black;
    background: white;
    z-index: 10;
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 15s linear infinite;
}

.content img{
    display: block;
    width: 177px;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(0, -2124px); }
}

#projects{
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    border-bottom: none;
}

.project{
    float: left;
    box-sizing: border-box;
    width: 50%;
}

.project > *{
    box-sizing: border-box;
    border-bottom: solid 1px black;
}

.project-text{
    padding: 50px;
}

.project-text h3{
    font-size: 1.4rem;
    padding-bottom: 10px;
    font-weight: 500;
}

.project-text h4{
    font-size: 1rem;
    font-weight: 300;
}

.project img{
    width: 100%;
}

.project:nth-child(even){
    border-right: solid 1px transparent;
}

.project:nth-child(odd){
    border-right: solid 1px black;
}

.spark-img{
    position: absolute;
    right: 2%;
    width: 100px;
    top: -30%;
}

.heart-img{
    position: absolute;
    right: 20%;
    width: 90px;
    bottom: 10%;
    transform: rotate(-10deg);
}

.project-name{
    font-weight: 500;
}

.project-desc{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.project-left-col >  div{
    padding: 20px;
}

.project-full section:last-of-type{
    border-bottom: none;
}

.project-details{
    bottom: 0px;
    position: absolute;
}

.section-title{
    font-weight: 400;
    margin-bottom: 0.6rem;
}

section{
    border-bottom: solid 1px black;
}

section h3{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

section h2{
    padding-left: 50px;
    padding-right: 50px;
}

section p{
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}

.no-padding{
    padding: 0;
}

.no-border{
    border-bottom: none;
}

section{
    width: 100%;
    margin-left: 0;
}

section h3, section h2, section p{
    width: 60%;
}

.gallery-3{
    justify-content: space-between;
    display: flex;
}

.gallery-3 img{
    width: 33.3333%;
}










@media screen and (min-width: 576px) and (max-width: 1300px) {
    
    #projects{
        width: 100%;
        box-sizing: border-box;
        padding: 0;
        border-bottom: none;
    }
    
    .project{
        float: none;
        box-sizing: border-box;
        width: 100%;
    }
    
    .project > *{
        box-sizing: border-box;
        border-bottom: solid 1px black;
    }
    
    .project img{
        width: 100%;
    }
    
    .project:nth-child(odd){
        border-right: none;
    }
    
    .project:nth-child(even){
        border-right: none;
    }
    
    section{
        width: 100%;
        margin-left: 0;
    }
    
}




/*Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 0px) and (max-width: 576px) {
    .hide-mobile{
        display: none;
    }
    
    .project-details{
        position: relative;
    }
    
    section{
        width: 100%;
        margin-left: 0;
    }
    
    section h3, section h2, section p{
        width: 100%;
    }
    
    .show-mobile{
        display: block;
    }
    
    #doll img{
        left: 85;
    }
    
    #mobile-intro img{
        width: 40%;
        display: block;
    }
    #mobile-intro{
        margin-top: 10px;
    }
    
    .right-col{
        margin-left: 0px;
        width: 100%;
    }
    
    .right-col > div{
        padding: 0px;
        /* border-bottom: solid 1px black; */
    }
    
    h1{
        font-size: 2rem;
        line-height: 2.4rem;
    }
    
    .linksrow1, .linksrow2{
        display: flex;
        justify-content: space-between;
    }
    
    .links-mobile p{
        font-size: 1.2rem;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
    }
    
    
    .intro{
        width: 100%;
    }
    
    #projects{
        width: 100%;
        box-sizing: border-box;
        padding: 0;
        border-bottom: none;
    }
    
    .project{
        float: none;
        box-sizing: border-box;
        width: 100%;
    }
    
    .project > *{
        box-sizing: border-box;
        border-bottom: solid 1px black;
    }
    
    .project img{
        width: 100%;
    }
    
    .project:nth-child(odd){
        border-right: none;
    }
    
    .project:nth-child(even){
        border-right: none;
    }
    
    .project-text{
        padding: 20px;
    }
    
    .spark-img, .heart-img{
        display: none;
    }
    
    section h3{
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 0.8rem;
    }
    
    section h2{
        padding-left: 20px;
        padding-right: 20px;
        font-size: 0.2rem;
    }
    
    .project-desc{
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.4rem;
    }
    
    section p{
        padding-left: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
    
    .project-name-mobile{
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
        font-weight: 500;
    }
    
    .project-details-mobile section{
        
    }
    
    .project-details-mobile p, .project-details-mobile h3{
        padding-bottom: 0px;
    }
    
    #footer, .project-footer p, .intro{
        padding: 20px;
    }
    
    .links-mobile{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }
    
    .intro h1{
        font-size: 1rem;
        line-height: 0.7rem;
    }
    
    .links-mobile p{
        padding: 2px;
        font-size: 0.8rem;
    }
    
    #footer p{
        font-size: 0.6rem;
    }
    
    .project-text h3{
        font-size: 0.8rem;
        padding-bottom: 8px;
    }
    
    .project-text h4{
        font-size: 0.8rem;
    }
}



.abbi{
    color: #FF5A5F
}

.twitter{
    color: #1da1f2;
}

.msgr-ig{
    color: #7051FF;
}