@import url(basteleur/font.css);
@import url(savate/font.css);
@import url(sporting-grotesque/font.css);

html, body {
    max-width: 100%;
    font-family: reason-new, sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
}

html::-webkit-scrollbar {
    display: none;
}

p{
    font-size: 1rem;
    line-height: 1.3rem;
}

html{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.left-col{
    border-right: solid black 1px;
    height: 100vh;
    width: 300px;
    display: block;
    position: fixed;
}

#logo{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: -10px;
}

#logo img{
    width: 200px;
}

#doll img{
    width: 200px;
    position: absolute;
    left: 50;
    margin: 0 auto;
}

#doll img:nth-of-type(1){
    position: relative;
}

#doll{
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    width: 100%;
}

.row1, .row2{
    width: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.choices img{
    width: 60px;
    height: 60px;
}

.choices{
    height: 120px;
}

#tops, #bottoms, #shoes{
    display: none;
}

#categories{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: 400;
    padding: 10px;
    border-bottom: solid 1px black;
}

#icons{
    padding: 10px;
    border-bottom: 1px solid black;
}

#currents{
    padding: 10px;
}

.category:hover{
    cursor: pointer;
    font-weight: 600;
}

.category:nth-of-type(1){
    font-weight: 600;
}

h2{
    font-weight: 600;
    padding-bottom: 0.6rem;
}

.show-mobile{
    display: none;
}

.clear{
    clear: both;
    float: none;
}

.right-col{
    margin-left: 300px;
    width: calc(100% - 475px);
    border-right: solid 1px black;
}

.right-col > div{
    padding: 50px;
    border-bottom: solid 1px black;
}

#footer{
    border-bottom: none;
}

h1{
    font-size: 4rem;
    line-height: 4.8rem;
}

.links{
    display: flex;
    justify-content: space-between;
}

.links p{
    font-size: 1.4rem;
    padding-top: 3rem;
    padding-bottom: 0.5rem;
}

a{
    color: black;
    border-bottom: 1px solid currentColor;
}

a:hover{
    color: red;
    text-decoration: none;
    font-weight: 500;
}


a:visited{
    text-decoration: none;
}


.marquee {
    position: fixed;
    width: 177px;
    right: 0px;
    top: 0px;
    height: 100vh;
    overflow: hidden;
    border-left: solid 1px black;
    background: white;
    z-index: 10;
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 15s linear infinite;
}

.content img{
    display: block;
    width: 177px;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(0, -2124px); }
}

#projects{
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    border-bottom: none;
}

.project{
    float: left;
    box-sizing: border-box;
    width: 50%;
}

.project > *{
    box-sizing: border-box;
    border-bottom: solid 1px black;
}

.project-text{
    padding: 50px;
}

.project-text h3{
    font-size: 1.4rem;
    padding-bottom: 10px;
    font-weight: 500;
}

.project-text h4{
    font-size: 1rem;
}

.project img{
    width: 100%;
}

.project:nth-child(even){
    border-right: solid 1px transparent;
}

.project:nth-child(odd){
    border-right: solid 1px black;
}



@media screen and (min-width: 576px) and (max-width: 1300px) {

    #projects{
        width: 100%;
        box-sizing: border-box;
        padding: 0;
        border-bottom: none;
    }
    
    .project{
        float: none;
        box-sizing: border-box;
        width: 100%;
    }
    
    .project > *{
        box-sizing: border-box;
        border-bottom: solid 1px black;
    }
    
    .project img{
        width: 100%;
    }
    
    .project:nth-child(odd){
        border-right: none;
    }
    
    .project:nth-child(even){
        border-right: none;
    }
}



/*Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 0px) and (max-width: 576px) {
    .hide-mobile{
        display: none;
    }
    
    .show-mobile{
        display: block;
    }
    
    
    .left-col{
        border-right: none;
        height: auto;
        width: 100%;
        display: block;
        position: relative;
    }
    
    #doll img{
        left: 85;
    }
    
    #mobile-intro img{
        width: 40%;
        display: block;
    }
    #mobile-intro{
        margin-top: 10px;
    }
    
    .right-col{
        margin-left: 0px;
        width: 100%;
    }
    
    .right-col > div{
        padding: 20px;
        border-bottom: solid 1px black;
    }
    
    h1{
        font-size: 2rem;
        line-height: 2.4rem;
    }
    
    .linksrow1, .linksrow2{
        display: flex;
        justify-content: space-between;
    }
    
    .links-mobile p{
        font-size: 1.2rem;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
    }
    
    
    .intro{
        width: 100%;
    }
    
    #projects{
        width: 100%;
        box-sizing: border-box;
        padding: 0;
        border-bottom: none;
    }
    
    .project{
        float: none;
        box-sizing: border-box;
        width: 100%;
    }
    
    .project > *{
        box-sizing: border-box;
        border-bottom: solid 1px black;
    }
    
    .project img{
        width: 100%;
    }
    
    .project:nth-child(odd){
        border-right: none;
    }
    
    .project:nth-child(even){
        border-right: none;
    }
    
    .project-text{
        padding: 20px;
    }
}